html
  head
    script(src='/static/jquery-1.7.1.min.js')
    script(src='/nowjs/now.js')
    script(src='/static/chat.js')
    title Derp
  body
    h1 Chat
    #messages
      p Messages will be here.

